.nav-btn-home,
.nav-btn-menu,
.nav-btn-about,
.nav-btn-testimoni {
  padding: 0.2em 0.8em;
  border: 2px solid white;
  background-color: #eb7d26;
  border-radius: 6px;
  color: white;
  transition: background-color 0.8s, color 0.8s, border 0.8s;
}

.nav-btn-home:hover,
.nav-btn-menu:hover,
.nav-btn-about:hover,
.nav-btn-testimoni:hover {
  background-color: white;
  border: 2px solid white;
  color: #eb7d26;
}
